.containner{
    margin: auto;
    max-width: 1500px;
}
/*========HEADER==========*/
.header-top{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #cfd3cb;
}
.header-top img{
    width: 30px;
    margin: 0px 10px 0px 0px;
}
.header-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 196px;
    padding: 10px 0px;
    text-align: center;
    align-items: center;
}
.header-main .logo{
    width: 230px;
}
.iconoperation img{
    width: 30px;
    margin: 0px 30px;
}
.menuheader li{
    display: inline;
    margin: 0px 20px;
}
.menuheader li a{
    color: #252525;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menuheader li a:hover{
    color: #cfad50;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
}
.search input{
    padding: 10px 0px 10px 40px;
    width: 250px;
    background: url(./../imgheader/iconsearch2.png) no-repeat center;
    background-size: 25px;
    background-position: 10px 6px;
    border: 1px solid #3b3b3b;
}
/*=============SLIDER=================*/
.slideshow{
    margin: 15px 0px;
    position: relative;
    overflow: hidden;
}
.slide img{
    width: 1500px;
    height: 500px;
}
.slides{
    display: flex;
}
.slide-controls{
    position: absolute;
    top: 50%;
    left: 0.5%;
    transform: translateY(50%);
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pre-btn{
    padding: 15px;
    background: url(./../imgbanner/previous-icon.png) no-repeat center;
    background-size: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 15.2px;
}
#next-btn{
    padding: 15px;
    background: url(./../imgbanner/next-icon.png) no-repeat center;
    background-size: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 15.2px;
}
#pre-btn:focus, #next-btn:focus{
    outline: none;
}
/*===========CATEGORI===========*/
.categori{
    margin: 15px 0px;
    display: grid;
    grid-template-columns: repeat(3, 496px);
    column-gap: 13px
}
.categori_item{
    overflow: hidden;
}
.categori img{
    width: 483px;
    height: 598px;
}
.categori img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*=============PRODUCT=============*/
.homeproductlist{
    margin: 15px 0px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}
.product img{
    width: 355px;
    height: 466px;
}
.banner img{
    max-width: 1500px;
}
/*===============REGISTER==============*/
.register{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 15px;   
}
.image img{
    width: 900px;
}
.form_operation{
    background-color: #F1F2EF;
    text-align: center;
    padding: 104px 0px;
}
.form_register input{
    margin: 20px 0px 0px 0px;
    border: 1px solid #a3a3a3;
    width: 343px;
    padding: 10px 0px 10px 20px;
}
.form_register h2, span{
    color: #323232;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button{
    width: 365px;
    padding: 10px 0px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #323232;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
/*==================FOOTER==============*/
.line{
    border-top: 1px solid #a3a3a3;
}
.icon a img{
    width: 50px;
}
footer{
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    padding: 20px 0px;
    margin: 70px 0px;
}
.footerlogo span{
    color: #a3a3a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.address{
    margin: 15px 0px;
}
.help li{
    margin: 10px 0px;
    list-style: none;
}
.help h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.help li a{
    color: #747474;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.help li a:hover{
    color: #cfad50;
}
.connect h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.connect a img{
    margin: 0px 13px;
}


.sanpham{
    padding: 10px 0;
    width: 70%;
    margin:0 auto;
}
.sanpham-top{
    margin-bottom: 30px;
    display: flex;
}
.sanpham-top p{
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size:20px
}
.product-content-left{
    width:50%;

}
.product-content-right{
    width:50%;
    padding-left: 20px;
    text-align: left;
}
.product-content-left-big-img{
    width: 80%;
    overflow: hidden;
    margin: 0 20px;
}
.product-content-left-big-img img:hover{
    transform: scale(1.2); 
}
.product-content-left-big-img img{
    width:100%;
    height: 60%;
    transition-duration: 0.3s;
}
.product-content-left-small-img{
    width: 20%;
}
.product-content-left-small-img img{
    width:100%;
}
.product-content-left{
    display:flex;
}
.product-content{
    display: flex;
    text-align: center;
}
.product-content-right-product-name h1{
    font-family: var(--main-text-font);
    font-size: 24px;
}
.product-content-right-product-name p{
    color: #cccc;
    font-size: 16px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-color{
    display:flex;
    margin: -9px 0;
}
.product-content-right-product-color img{
    width:30px;
    height: 30px;
    border-radius: 50%;
}
.product-content-right-product-color-img{
    height:40px;
    width : 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:8px 8px;

}
.size span{
    display:inline-block;
    padding: 3px 6px;
    border:1px solid black;
    margin: 12px 10px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: -14px;
    padding:5 auto;
}
.quantity input {
    display:inline-block;
    padding: 5px 9px;
    border:1px solid black;
    margin:13px 9px;
    font-size: 12px;

}
.product-content-right-product-button button:hover{
    background: black;
    color: white;
}
.product-content-right-button{
    padding-top: 80px;
    border-top:1px solid #ddd;
    position: relative;
    margin: 25px 0;
    
}
.product-content-right-button-top{
    position: absolute;
    width:30px;
    height: 30px;
    border-top:1px solid #dddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    top:-15px ;
    left: 50%;
    border-radius:50%;
    transform: translate(-50%);
}
.product-content-right-button-content-title{
    display: flex;
    border-bottom: 2px solid #dddd;
}
.product-content-right-button-content-title-item{
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}
.product-content-right-button-content-title-item p{
    font-family: var(--main-text-font);
    font-size:16px;
}
.product-content-right-button-content{
    padding-top: 30px;
}
.product-content-right-button-content p{
    font-family: var(--main-text-font);
    font-size:16px;
    color: rgb(95, 95, 175);
}
.product-content-right-button-content-thamkhao {
    font-family: var(--main-text-font);
    font-size:16px;
    color: rgb(95, 95, 175);
}
.sanpham1{
    display: flex;
}
.sanpham1 img{
    width:90%;
}
/*=============CSS TRANG ĐĂNG NHẬP==========*/
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;
    position: relative;
    left: 115px;
    margin: auto;
    padding: 70px 0px;
}
.right img{
    width: 525px;
}
.left h2, span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #252525;
}
.left span{
    color: #747474;
    font-size: 15px;
    font-weight: 700;
}
.left form{
    display: block;
    margin: 35px 0px;
}
.left form label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #252525;
}
.left form input{
    width: 643px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.forgotpass{
    text-align: right;
    width: 669px;
    margin-bottom: 25px;
}
.forgotpass a{
    color: #252525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    
}
.forgotpass a:hover{
    color: #cfad50;
}
.left form button{
    padding: 17px 0px;
    width: 669px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.login{
    background-color: #000;
    color: white;
}
.createaccount{
    padding: 17px 0px;
    width: 669px;
    border: 1px solid #bdbdbd;
    color: #747474;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
}
.createaccount:hover{
    background-color: #efefef;
    cursor: pointer;
}
/* css trang chitietsp.php */
.product-content-right-button-content-title-item :hover{
    color: rgb(216, 34, 34);
}
.text-binhluan{
    width:850px;
    height: 30px;
    margin: 20px;
}
.btn-binhluan{
    width:90px;
    height: 35px;
}
.btn-binhluan:hover{
    background: #222;
    color: rgb(255, 255, 255);
}
.search-box{
    padding:30px 0;
}
.search-box h2{
    margin: 20px;
}
.search-box .search-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box .search-box1 .comment{
    border : none;
    box-shadow: 0 0 5px 2px rgba(63, 63, 63, 0.3);
    border-radius: 10px;
    padding-left: 7px;
    outline: none;
}
/* css trang lien he */
.thongtinlienhe{
    margin:0 10px;
    width :800px;
    background: rgb(238, 228, 228);
}
.row{
    display:flex;
}
.right{
    display:flex;
    padding: 20px 0;
}
.tt{
    margin:20px 30px;
}
.tieude{
    padding: 20px;
    text-align: center;
}
.text-ten{
    width:360px;
    height: 40px;
    border-radius: 30px/80px;
    border:1px solid rgb(131, 129, 129);
}
.text-email{
    width:360px;
    height: 40px;
    margin: 0 140px;
    border-radius: 30px/80px;
    border:1px solid rgb(131, 129, 129);
}
.text-khong{
    width:360px;
    height: 40px;
    border-radius: 30px/80px;
    border:1px solid rgb(131, 129, 129);
}
.text-suynghi{
    width:360px;
    height: 40px;
    margin: 0 140px;
    border-radius: 30px/80px;
    border:1px solid rgb(131, 129, 129);
}
.btn-gui{
    width:60px;
    height: 30px;
    text-align: center;
}
.gui{
    margin:10px 275px;
}
.btn-gui:hover{
    background: #222222;
    color: #fff;
}
.display{
    display: flex;
    height: 350px;
justify-content: center;
}
.vanphong{
    padding: 10px;
}
.dienthoai{
    display: flex;
}
.dongho{
    display: flex;
    padding:10px 0;
}
.diachi1{
    display: flex;
    padding:5px 0;
}
.diachi2{
    display: flex;
    padding:5px 0;
}
.text{
    margin:-5px 20px;
    display: flex;
}
.vt1{
    margin:0 20px;
}
.title{
    display: flex;
    justify-content: space-around;
}
.ggmap{
    padding: 40px;
}
.phianam{
    margin:0 60px;
}
.map{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}